/* You can add global styles to this file, and also import other style files */

.flex-c-j-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --animate-delay: 0.2s;
}